<launch>

<node
  pkg="sgpr_ros"
  type="ks_test_service.py"
  name="ks_test_service_node"
  output="screen"
/>

<node
  pkg="sgpr_ros"
  type="ad_test_service.py"
  name="ad_test_service_node"
  output="screen"
/>

<node
  pkg="sgpr_ros"
  type="sgpr_ros"
  name="sgpr_ros_node"
  output="screen"
/>

<rosparam file="$(find sgpr_ros)/config/params.yaml" />

</launch>
