<launch>

<node
  pkg="sgpr_ros"
  type="evaluation_service.py"
  name="evaluation_service_node"
  output="screen"
/>

<node
  pkg="sgpr_ros"
  type="histogram_viz_service.py"
  name="histogram_viz_service_node"
  output="screen"
/>

<!-- <node
  pkg="sgpr_ros"
  type="point_cloud_viz_service.py"
  name="point_cloud_viz_service_node"
  output="screen"
/> -->

<node
  pkg="sgpr_ros"
  type="sgpr_ros"
  name="sgpr_ros_node"
  output="screen"
/>

<rosparam file="$(find sgpr_ros)/config/params.yaml" />

</launch>
